* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html, body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: linear-gradient(to bottom, #252526, #4d4d4e);
  color: white;
  font-family: sans-serif;
}

#header {
  height: 80px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #363738;
  border-bottom: 2px solid #525354;
}

#header h1 {
  font-size: 30px;
}

#messages {
  flex-grow: 1;
  overflow: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 20px;
}

#messages .message {
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 8px;
  background-color: #4c4d4e;
  color: white;
  border: 2px solid #99999b;
}

#messages .message.sent {
  background-color: #2a6299;
  border-color: #a4c4e4;
}

#messages .message .message-username {
  font-weight: bold;
  font-size: 110%;
}

#messages .message .message-timestamp {
  color: #d3d3d7;
  font-size: 70%;
}

#messages .message.sent .message-timestamp {
  color: #a6cff3;
}

#chatbox {
  height: 80px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  column-gap: 15px;
  background-color: #363738;
  border-top: 2px solid #525354;
}

#chat-input {
  flex-grow: 1;
  padding: 8px;
  resize: none;
  background-color: #535455;
  color: white;
  border: 2px solid #adadae;
  font: 14px sans-serif;
}

#chat-input:focus {
  border-color: white;
}

#chat-submit {
  width: 140px;
  background-color: #25501c;
  color: white;
  border: 2px solid #a6e798;
  font: 14px sans-serif;
}

#chat-submit:active {
  background-color: #336e27;
  border-color: white;
}